{% extends 'base.html' %}
{% block main_block %}
<div class="wrap-listing100">
    <div class="row">
        <div class="col-7 side-line">
                <h2 class="bottom-line make-far">Hello World</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <br>
                <hr>
                <form class="login100-form validate-form" method="post" action="/fund/" name="fund_campaign_form"> <!-- CHECK -->
                        <div class="wrap-input100 validate-input" data-validate = "Amount">
                        <input class="crcamp100" type="text" name="amount" placeholder="Amount">
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <input class="input100" type="password" name="secret" placeholder="Your Secret Key">
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>                        
                        <input class="crcamp100" type="hidden" name="encoded_secret" placeholder="date" value="{{ vendorField }}"></hidden>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit" name="submit" id="submit">
                            Fund
                        </button>
                    </div>
           
             </form>

        </div>
        <div class="col-5">
            <div class="progress ">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="50" style="width: 50%; color:#ef192d" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="text-center bottom-line">$50 of $100 raised</p>
            <p class="text-center bottom-line">04/01/2018</p>
            <h5 class="top-10 bottom-line bottom-10">Backers<span class="badge badge-light pull-right">4</span></h5>
            <div class="backer">
                <span>MWqia1y68vT1oSrRSBC6zEftGRsU29zi3P</span>
                <span class="white text-right">$20</span>
            </div>
            <div class="backer">
                    <span>MWqia1y68vT1oSrRSBC6zEftGRsU29zi3P</span>
                    <span class="white text-right">$20</span>
                </div>
                <div class="backer">
                        <span>MWqia1y68vT1oSrRSBC6zEftGRsU29zi3P</span>
                        <span class="white text-right">$20</span>
                    </div>
        </div>
    </div>
    
    

</div>
{% endblock main_block %}

