{% extends 'base.html' %}
{% block main_block %}
<div class="wrap-listing100">
    <div class="row">
        <div class="col-7 side-line">
                <h2 class="bottom-line make-far">{{ name }}</h2>
                <p>{{ description }}
                </p>
                <br>
                <hr>
                {% if request.session.logged_in %}
                    <form class="login100-form validate-form" method="post" action="/fund/" name="fund_campaign_form"> <!-- CHECK -->
                        <div class="wrap-input100 validate-input" data-validate = "Amount">
                        <input class="crcamp100" type="text" name="amount" placeholder="Amount">
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <input class="input100" type="password" name="secret" placeholder="Your Secret Key">
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>                        
                        <input class="crcamp100" type="hidden" name="encoded_secret" placeholder="date" value="{{ vendorField }}"></hidden>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit" name="submit" id="submit">
                            Fund
                        </button>
                    </div>
                    </form>
                {% endif %}

        </div>
        <div class="col-5">
            <div class="progress ">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{ per }}" style="width: {{ per }}%; color:#ef192d" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="text-center bottom-line">{{ funding_completed }} ARK of {{ goal }} ARK raised</p>
            <p class="text-center bottom-line">{{ created_on }}</p>
            <h5 class="top-10 bottom-line bottom-10">Backers<span class="badge badge-light pull-right">{{ investors|length }}</span></h5>
            {% for backer, pledged_amt in investors.items %}
            <div class="backer">
                <span>{{ backer }}</span>
                <span class="white text-right">{{ pledged_amt }}</span>
            </div>
            {% endfor %}
        </div>
    </div>
    
    

</div>
{% endblock main_block %}

