{% extends 'base.html' %}
{% block main_block %}
<div class="wrap-listing100">
	<!-- {{ campaigns }} -->
	<div class="listing">
		<div class='heading-listing100'>HackPt</div>
		<div class="content-listing100">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			<div class="ml-auto">
				<button class="login100-form-btn">View</button>
			</div>
		</div>
	</div>

</div>
{% endblock main_block %}

